[Unit]
Description=Proton Drive Sync Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot

ExecStart=/usr/bin/rclone copy %h/ proton: \
    --filter-from %h/.config/rclone/proton.filter \
    --update \
    --fast-list \
    --transfers 2 \
    --checkers 8 \
    --tpslimit 2 \
    --drive-pacer-min-sleep 1s \
    --protondrive-replace-existing-draft=true \
    --protondrive-enable-file-delete=true \
    --retries 5 \
    --low-level-retries 15 \
    --buffer-size 64M \
    --log-level NOTICE

Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
